textarea{
    display: block;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    height: 20vh;
}
#output-text{
    border: 1px solid black;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    height: 20vh;
}